body
    font-size: 15px;
    background-color: #ccc

h1,h2,h3,h4,h4,ul,body,html
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

.wrapper
    min-height: 100vh;
    overflow: hidden;
    .col1
        float: left
        position: relative;
        z-index 999;
        width: 17%
    .col2
        float: left;
        width: 83%;

.sidebar
    background-color: #fff
    min-height: 100vh;
    .logo
        display: block
        margin: 0px auto
        padding: 24px
        width 80%
    .section-top
        background-color: white;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    
    .user
        color: black !important
        padding: 4px;

    .main
        display: block;
        margin-top: 10px;
        ul
            li
                margin-bottom: 15px;
                a
                    text-decoration: none;
                    display: block;
                    padding: 7px 12px;
                    i
                        margin-right: 15px;

                    &:hover
                        background-color: #ccc
                        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
.nav-bar
    background-color: #ccc;
    
                         