body 
    background-color: #f6f6f6
    margin 0px

.container
    background-color: #fff
    border-radius: 8px
    border 1px solid #d6d6d6
    position: absolute
    width: 500px
    .btn-success
        width: 100%
        background-color: #016cfa
        border: 0px
    
    .container
        padding: 10px

    .header
        background-color: white
        padding: 10px
        border-radius: 8px 8px 8px 8px
        a
            img
                display: block
                margin: 0px auto
                width 30%
    .footer
        text-align: center
        a
            display: inline-block
            font-size: .35cm 
            &:last-child
               margin-left: 100px 

.margin-top-16
    margin-top: 16px


.container-login
    left calc(50% - 260px)
    top calc(50% - 190px)

.container-register
    left calc(50% - 260px)
    top calc(50% - 300px)
